<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>

    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <title>BookRegist</title>
</head>
<body>
    <div class="col-sm-5" th:fragment="bookRegist_contents">
        <div class="page-header">
            <h1>書籍登録画面</h1>
        </div>
        <form method="post" th:action="@{/bookRegist}" th:object="${bookRegistForm}">
            <table class="table table-bordered table-hover">
                <tr>
                    <th class="active col-sm-3">書籍ID</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" readonly="readonly" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="active">タイトル</th>
                    <td>
                       <div class="form-group">
                            <input type="text" class="form-control" th:field="*{title}" />
                            <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="active">著者</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{author}" />
                            <span class="text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author error</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="active">出版社</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{publisher}" />
                            <span class="text-danger" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}">publisher error</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="active">在庫数</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{stock}" />
                            <span class="text-danger" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}">stock error</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="active">残数</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{rest}" />
                            <span class="text-danger" th:if="${#fields.hasErrors('rest')}" th:errors="*{rest}">rest error</span>
                        </div>
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary" type="submit">書籍登録</button>
        </form>
    </div>
</body>
</html>