<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
    <div th:fragment="bookDetail_contents">
        <div class="row">
            <div class="col-sm-5">
                <div class="page-header">
                    <h1>書籍詳細</h1>
                </div>
                <form method="post" th:action="@{/bookDetail}" th:object="${bookDetailForm}">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th class="active col-sm-2">ID</th>
                            <td class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{bookId}" readonly="readonly" />
                                </div>
                            </td>
                        </tr>
                         <tr>
                            <th class="active col-sm-2">タイトル</th>
                            <td class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{title}" />
                                    <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="active">著者</th>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{author}" />
                                    <span class="text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author error</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="active">出版社</th>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{publisher}" />
                                    <span class="text-danger" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}">publisher error</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="active">在庫数</th>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{stock}" />
                                    <span class="text-danger" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}">stock error</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="active">残数</th>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{rest}"  readonly="readonly" />
                                    <span class="text-danger" th:if="${#fields.hasErrors('rest')}" th:errors="*{rest}">rest error</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div role="presentation" sec:authorize="hasRole('ADMIN')">
                        <button class="btn btn-primary btn-lg" type="submit" name="update">更新</button>
                        <button class="btn btn-danger btn-lg" type="submit" name="delete">削除</button><br/>
                        <label class="text-info" th:text="${result}">結果表示</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>