<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>

    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <title>LendingRegist</title>
</head>
<body>
    <div class="col-sm-5" th:fragment="lendingRegist_contents">
        <div class="page-header">
            <h1>貸出登録画面</h1>
        </div>
        <form method="post" th:action="@{/lendingRegist}" th:object="${lendingRegistForm}">
            <table class="table table-bordered table-hover">
                <tr>
                    <th class="active col-sm-3">貸出ID</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" readonly="readonly" />
                        </div>
                    </td>
                </tr>
								<tr>
                    <th class="active">在庫ID</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{stockId}" />
                            <span class="text-danger" th:if="${#fields.hasErrors('stockId')}" th:errors="*{stockId}">stockId error</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="active">ユーザID</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{userId}" />
                            <span class="text-danger" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">userId error</span>
                        </div>
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary" type="submit">貸出登録</button><br/>
       		  <label class="text-info" th:text="${result}">結果表示</label><br/>
        </form>
    </div>
</body>
</html>