<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>

    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <title>SignUp</title>
</head>
<body>
    <div class="col-sm-5" th:fragment="signup_contents">
        <div class="page-header">
            <h1>ユーザ登録画面</h1>
        </div>
        <form method="post" th:action="@{/signup}" th:object="${signupForm}">
            <table class="table table-bordered table-hover">
                <tr>
                    <th class="active col-sm-3">ユーザID</th>
                    <td>
                        <div class="form-group" th:classappend="${#fields.hasErrors('userId')} ? 'has-error'">
                            <input type="text" class="form-control" th:field="*{userId}" />
                            <span class="text-danger" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">userId error</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="active">パスワード</th>
                    <td>
                       <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                            <input type="text" class="form-control" th:field="*{password}" />
                            <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="active">ユーザ名</th>
                    <td>
                        <div class="form-group" th:classappend="${#fields.hasErrors('userName')} ? 'has-error'">
                            <input type="text" class="form-control" th:field="*{userName}" />
                            <span class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName error</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="active">所属</th>
                    <td>
                        <div class="form-group" th:classappend="${#fields.hasErrors('department')} ? 'has-error'">
                            <select name="department">
                                <option value=""></option>
                                <option th:each="item : ${departmentPulldown}" th:value="${item.value}" th:text="${item.value}" th:selected="${item.value} == *{department}">singleSelect</option>
                            </select>
                            <br />
                            <span class="text-danger" th:if="${#fields.hasErrors('department')}" th:errors="*{department}">department error</span>
                        </div>
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary" type="submit">ユーザ登録</button>
        </form>
    </div>
</body>
</html>