<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
    <!-- コンテンツ部分 -->
    <div th:fragment="stockList_contents">
        <div class="page-header">
            <h1>在庫一覧</h1>
        </div>
        <form method="post" th:action="@{/stockList}">
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th class="info col-sm-1">在庫ID</th>
                    <th class="info col-sm-1">書籍ID</th>
                    <th class="info col-sm-1">状態</th>
                    <th class="info col-sm-2"></th>
                </tr>
                <tr th:each="stock : ${stockList}">
                    <td th:text="${stock.stockId}"></td>
                    <td th:text="${stock.bookId}"></td>
                    <td th:text="${stock.state}"></td>
                    <td>
<!--
                       <input type="hidden" name="_method" value="DELETE">
                       <button class="btn btn-danger" type="submit" name="delete" value="${stock.stockId}">削除</button>
-->
                       <button class="btn btn-danger" type="submit" name="delete" th:value="${stock.stockId}">削除</button>
                    </td>
                </tr>
            </table>
        </form>
        <div>
            <ul>
                <li style="display:inline;">
                    <span th:if="${page.first}">&lt;&lt;前</span>
                    <a th:if="${!page.first}" th:href="@{/stockList/pages(page = ${page.number} - 1)}">
                        &lt;&lt;前
                    </a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}" style="display:inline; margin-left:10px;">
                    <span th:if="${i} == ${page.number}" th:text="${i + 1}">1</span>
                    <a th:if="${i} != ${page.number}" th:href="@{/stockList/pages(page = ${i})}">
                        <span th:text="${i+1}">1</span>
                    </a>
                </li>
                <li style="display:inline; margin-left:10px;">
                    <span th:if="${page.last}">次&gt;&gt;</span>
                    <a th:if="${!page.last}" th:href="@{/stockList/pages(page = ${page.number} + 1)}">
                                                        次&gt;&gt;
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <label th:text=" '合計：' + ${stockListCount} + '件' "></label><br/>
            <label class="text-info" th:text="${result}">結果表示</label>
        </div>
    </div>
</body>
</html>